body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

[class|="col"] {
  padding: 0;
}

[class|="row"] {
  margin: 0;
}


/* header */

#header {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.header-logo {
  width: 50px
}

/* footer */

#footer {
  position: fixed;
  bottom: 0;
  color: gray;
  width: 100%;
  padding: 10px;
  max-height: 60px;
  z-index: 1;
  font-size: 14px;
  overflow: hidden;
}

@media (min-width: 768px) {
  #footer {
    width: 50%
  }
}

.navbar {
  margin-bottom: 0;
  border:none;
  background-color: white;
}

.navbar-nav>li {
    float: left !important;
    margin: 0;
}


#jenna-logo {
  color: lightgrey;
}

/* chat field */

#chat {
  box-sizing: border-box;
  height: 100vh;
}

#chat-field {
  position: relative;
  max-height: 59vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 150px;
  margin-top: 10px;
}

.img-circle {
  width: 60px;
  padding: 24px 2px;
  background-color: rgb(243, 247, 250);
  margin: 0 15px;
}

.spartans {
  border: 1px solid rgb(243, 247, 250);
  border-radius: 50%;
  padding: 18px 0;
  background-color: rgb(243, 247, 250);
  margin: 0 15px;
  font-size: 8px;
}

.spartans > img {
  width: 18px;
  
}

.jena {
  float: right;
}

.bot {
  float: left; 
}

.text {
  border: 1px solid rgb(243, 247, 250);
  border-radius: 25px;
  background-color: rgb(243, 247, 250);
  padding: 15px 35px;
}

.wrap {
height: 50px;
clear: both;
}

.br {
  clear: left;
  margin: 25px 100px;
}
span {
  border: 1px solid rgb(67, 121, 232);
  border-radius: 50%;
  background-color: rgb(67, 121, 232);
  color: white;
  padding: 20px 23px;
  margin: 5px;
}
/* form */

.form-inline {
  position: fixed;
  bottom: 50px;
  width: 100%;
  margin: auto;
  z-index: 1;
  border: 1px solid rgb(67, 121, 232);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .form-inline {
    width: 50%
  }
}

.form-group {
  border: 1px solid rgb(67, 121, 232);
  padding: 10px;
  margin-bottom: 0;
  width: 100%
}

.form-inline .form-control {
  width: 100%;
  border: none;
  border-radius: none;
  background-color: white;
  font-size: 16px;
  padding: 20px;
  box-shadow: none ;
  outline: none;
}

.btn {
  border: none;
  background-color: rgb(67, 121, 232);
  font-size: 16px;
  color:white;
  padding: 20px 12px;
  
}

.btn > img {
  padding: 0 5%;
}

.img-form {
  margin: 33% 25%;
}

/* aside */

.aside-left {
  height: 100vh;
  background-color: rgb(243, 247, 250);
}

.avatar {
  border: 2px solid rgb(67, 121, 232);
  border-radius: 50%;
  width: 100px;
  padding: 33px 33px;
  margin: 0 auto;
}

.pen{
  padding-top: 15px;
  padding-right: 15px;
  text-align: right;
  margin: 0px;
}

.pen > img {
  background-color: white;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.asside-right {
  height: 100vh;
  background-color: rgb(243, 247, 250);
}

